<div>
   
      <h2 mat-dialog-title class="text-center">Enter Coordinates</h2>
<mat-dialog-content class="text-center">
  <form #form="ngForm" (ngSubmit)="submit(form.value)" autocomplete="off">
    <div *ngFor="let i of [0, 1, 2, 3]">
      <mat-form-field>
        <input matInput type="number" name="latitude{{i}}" placeholder="Latitude {{i+1}}" ngModel required>
      </mat-form-field>
      <mat-form-field class="px-3">
        <input matInput type="number" name="longitude{{i}}" placeholder="Longitude {{i+1}}" ngModel required>
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">Submit</button>
  </form>
</mat-dialog-content>

</div>